* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #c4c4c4;
}

.nav {
    background-color: black;
    padding: 13px;
}

h2 {
    color: #0047ab;
}

.main {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;

}

.box-1 {
    width: 40%;
}

textarea {
    height: 200px;
    width: 80%;
    font-size: medium;
    margin: 20px 0 20px 0;
}

button {
    padding: 11px 17px 11px 17px;
    background-color: green;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.box-2 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2>div {
    width: 100%;
}

.box-2>div>div {
    display: flex;
    padding: 10px;
}

.box-2>div>div>div {
    font-size: large;
}

.box-2>div>div>div:nth-child(1){
    width: 40%;
    font-weight: 700;
    color: red;
}

.box-2>div>div>div:nth-child(2){
    width: 60%;
    background-color: white;
    padding: 4px;
}

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%,#474bff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-zp9dbg 1s infinite linear;
    margin-top: 120px;
 }
 
 @keyframes spinner-zp9dbg {
    to {
       transform: rotate(1turn);
    }
 }